<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_version</key>
	<string>3.1.0.2</string>
	<key>git_version</key>
	<string>GIT_VERSION</string>
	<key>loginServer</key>
	<string>192.168.1.130:16666</string>
	<key>loginServer2</key>
	<string>192.168.1.130:16666</string>
	<key>patch</key>
	<string>3</string>
	<key>serverUrl</key>
	<string>http://192.168.1.130:18081/servers</string>
	<key>versionUrl</key>
	<string>http://192.168.1.130:18081/version</string>
	<key>noticeUrl</key>
	<string>http://192.168.1.130:18081/notice</string>
	<key>reportUrl</key>
	<string>http://192.168.1.130:1104</string>
	<key>disableWordCheckUrl</key>
	<string>http://192.168.1.130:1144/check</string>
	<key>forShenhe</key>
	<string>false</string>
	<key>forOBB</key>
	<string>false</string>
	<key>feedBackUrl</key>
	<string>http://192.168.1.130:1104/feedback</string>
</dict>
</plist>
